<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= button_to 'Add to cart', add_item_to_cart_carts_path(:product_id => @product.id), method: :post %>

<%= link_to 'Back', home_index_path %>