<div class="container">
	<br><br>	
	<%= link_to 'Add address', new_address_path, class: 'btn btn-primary' %>
	<br><br>
	<%= form_for @cart, local: true do |f| %>
		<% @addresses.each do |address|%>
			<div class="container border">
				<%= f.radio_button :address_id, address.id %>
				<%= address.line1 %>
				<%= address.line2 %>
				<%= address.landmark %>
				<%= address.city %>	
				<%= address.state %>
				<%= link_to 'edit', edit_address_path(address) %>
				<%= link_to 'Remove', address_path(address), method: :delete %>
			</div>
			<br>
		<% end %>
		<%= f.submit 'Proceed'%>
	<% end %>
</div>
